<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TwitterInstant.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF1365EE1E6EB536003CA67F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF13660A1E6EB536003CA67F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF1366151E6EB536003CA67F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
